header{
    background-color: rgb(153, 153, 165);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: space-evenly;
}

.left{
    background-color: rgb(53, 53, 87);
    width: 50%;
    height: auto;
}

.right{
    background-color: brown;
    width: 50%;
    height: auto;
}